@import "../../../stylesheets/Variables.scss";

.pagination {
    text-align: center;

    .current {
        background-color: #a63131;
    }

    ul {
        background-color: #ff4c4c;
        border: solid 2px #a63131;
        display: flex;
    }

    li {
        flex: 1;
        text-align: center;
    }

    a {
        padding: 1rem 0;
        flex: 1;
        display: block;
        color: white;
        text-align: center;

        &:not(.current):hover {
            background-color: #a63131;
        }
    }

    .page-info {
        margin-bottom: 1.5rem;
    }
}
