@import "../../../stylesheets/Variables.scss";

.rankingslist {

    .job,
    .search {
        margin-bottom: 2rem;
    }

    input,
    select {
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 1rem;
        padding: 0.5rem;
        margin-right: 1rem;
        width: 40%;
        outline: none;
        border: 1px solid #ff4c4c;

        &:focus,
        &:hover {
            box-shadow: 0 0 8px #a63131;
        }
    }

    .submit {
        color: white;
        padding: 0.5rem 1.5rem;
        background-color: #ff4c4c;
        border-radius: 0.25rem;
        border: solid 1px #333b8a;

        &:hover {
            background-color: #a63131;
        }
    }
}
