@import "../../stylesheets/Variables.scss";

.admin-panel {

    input[type="text"] {
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0.15rem;
        width: 37.7rem;;
    }

    .new, .update-button {
        color: white;
        padding: 0.25rem 1rem;
        background-color: #ff4c4c;
        border-radius: 0.25rem;
        border: solid 1px #a63131;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
            background-color: #a63131;
        }
    }
}
